<html lang="en">
  <head>
    <title>Pantry saver</title>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta
      name="description"
      content="Save your pantry and discover new recipes"
    />
    <meta name="keywords" content="Pantry, recipes, cooking" />
    <meta name="author" content="Niccolò Zocchi" />
    {{! Icon }}
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <link rel="icon" href="images/favicon.ico" type="image/x-icon" />
    {{! Plugins }}
    <link href="modules/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="assets/fontawesome/css/all.css" />
  </head>
  <header>
    <nav class="navbar navbar-expand-lg fixed-top shadow-lg">
      <div class="container-fluid">
        <a href="/" class="navbar-brand"><img
            src="images/logo.svg"
            alt=""
            class="d-inline-block align-text-top"
            width="30px"
          />
          Pantry saver</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarContent"
          aria-controls="navbarContent"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div
          class="collapse navbar-collapse justify-content-center"
          id="navbarContent"
        >
          <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link active" href="/" aria-current="page">Home</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/favourites">Favourite recipes</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/recipe/manual">Manual recipe</a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  {{! Content }}
  <section class="main-content mx-2">

    {{{body}}}

  </section>
  <footer class="footer mt-auto align-items-center d-flex shadow-lg">
    <div class="container d-flex align-items-center">
      <span class="text-muted"> Copyright &COPY 2022 Pantry saver</span>
    </div>
    <div class="container d-flex justify-content-end align-items-center">
      <a
        href="https://github.com"
        class="nav-link fa-brands fa-github mx-1"
        target="_blank"
      ></a>
      <a
        href="https://rapidapi.com/apidojo/api/tasty/"
        class="text-muted nav-link"
        target="_blank"
      >API info</a>
    </div>
  </footer>
  <script src="modules/bootstrap/dist/js/bootstrap.bundle.js"></script>
</html>