<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default collapsed">
      <div class="panel-body">
        <table
          class="table table-hover"
          data-page-size="12"
          data-filter="#filter"
        >
          <thead>
            <tr>
              <th>Recipe name</th>
              <th>Instructions</th>
            </tr>
          </thead>
          <tbody>

            {{#each recipe}}
              <tr>
                <td>{{name}}</td>
                <td>{{ellipsis recipe 50}}
                </td>
                <td class="center"><a href="/view_recipe/{{_id}}"><button
                      type="button"
                      class="btn btn-default"
                    ><em class="fa fa-search"></em></button></a></td>
              </tr>
            {{/each}}

          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>