<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">{{recipe.name}}</div>
      <div class="panel-body">
        <div class="form-group">
          <pre id="recipe">{{recipe.recipe}}</pre>
        </div>
        <form
          action="/remove_favourite/{{recipe._id}}"
          method="GET"
          role="form"
          class="form-group"
        >
          <button type="submit" class="btn btn-primary">Remove favourite</button><br
          />
        </form>
      </div>
    </div>
  </div>
</div>